
//Fonts Family
$font-poppins:'Poppins', sans-serif;
$font-roboto:'Roboto', sans-serif;

//Colors

$primary-color:#3b1cff;
$secondary-color:#ffd201;
$body-color:#6f6f6f;
$white-color:#fff;
$black-color:#000;